/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Menu
:: Banner
:: screens
:: signup
:: features
:: contacts
:: footer
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700|Open+Sans:400,300,600);
body {
	font-family: 'Open Sans', sans-serif;
	color: #474E63;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Comfortaa', sans-serif;
	color: #474E63;
	font-weight: 400;
	text-transform: uppercase
}
p {
	color: #474E63;
}
b, strong {
	font-weight: 700;
}
i {
	font-style: normal;
	vertical-align: middle;
	padding-right: 5px;
}
.columns p {
}
section {
	padding: 80px 0 60px;
	border-top: 0px solid #000;
	width: 100%;
}
section {
*zoom: 1;
}
section:before, section:after {
	content: " ";
	display: table;
}
section:after {
	clear: both;
}
section h3 {
	font-size: 40px;
	line-height: 1;
	margin-bottom: 50px;
	min-height: 43px;
	text-transform: uppercase;
}
section h3 strong {
	font-weight: 700;
}
section h3 small {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	clear: both;
	color: #777777;
	display: block;
	text-transform: none;
}



/* -----------------------------------------
   menu
----------------------------------------- */

.menu {
	background: none repeat scroll 0 0 #fff;
	border-color: #f5f5f5 #f5f5f5 rgba(255, 255, 255, 0.25);
	height: 60px;
	position: fixed;
	top: 0;
	transition: all 0.2s ease-in-out 0s;
	width: 100%;
	z-index: 100;
}
.sticky {
	background: none repeat scroll 0 0 #fff;
	border: 0 none;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
#nav {
	margin: 15px 0; float: right;
}
#nav li {
	display:inline;
	font-size: 15px;
	font-weight: 700;
	float: left
}
#nav li a {
	padding: 4px 10px;
	border-radius: 4px 4px 4px 4px;
	text-decoration: none;
}
#nav li.current a {
	background: none repeat scroll 0 0 #2B80B8;
	color: #FFFFFF;
	cursor: default;
	font-weight: bold;
	padding: 4px 10px;
}
#nav {
}
#nav {
}

.secnav {
	position: fixed;
	left: 0;
	top: 500px;
	background: #000;
	padding:20px;
}
/* -----------------------------------------
   Banner
----------------------------------------- */

.bannerwrapper {
	border-bottom: 1px solid #f5f5f5;
	padding-top:120px;
}
.bannerwrapper h1 {
	font-size: 40px;
	line-height: 1.2;
	text-transform: uppercase;
}
.bannerwrapper h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.8;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.dest {
	font-weight: 700;
	color: #000
}
.register {
	padding: 15px 30px 15px;
	font-size: 30px;
	background: #D41547;
}

.register:hover{
	padding: 15px 30px 15px;
	font-size: 30px;
	background: #333;	
}
/* -
/* -----------------------------------------
   screenshtos
----------------------------------------- */
.screenwrapper {
	background: #fff;
}
.screenwrapper img {
	border: 4px solid #fff;
	border-radius: 7px 7px 7px 7px;
	transition: all 0.2s ease-out 0s;
	border: 4px solid #f5f5f5;
}
.screenwrapper img:hover {
	border: 4px solid #D41547;
	transform: scale(1.2);
}
/* -----------------------------------------
   signup
----------------------------------------- */
.signupwrapper {
	background: #f9f9f9
}
.signupwrapper label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.codepromo {
	margin: 20px 0;
}
/* -----------------------------------------
   features
----------------------------------------- */

.featureswrapper {
	background: #f5f5f5
}
.feature {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	color: #363636;
	float: left;
	line-height: 24px;
	margin: 10px 1%;
	padding: 5px 15px;
	color: #fff;
	position: relative;
	min-height: 230px;
	transition: all 0.3s ease-out 0s;
}
.feature:hover {
	background: #282732;
	color: #fff !important;
}
.feature:hover * {
	color: #fff !important;
}
.feature i {
	font-size: 35px;
	position: relative;
	margin-top: 0px
}
.feature h4 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
/* -----------------------------------------
   contacts
----------------------------------------- */


.contactswrapper {
	background: #fff;
}
.contactswrapper h3 {
	margin-top: 0px;
}
.contacts h3 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 8px;
	text-transform: uppercase;
	min-height: 0;
	font-weight: 700;
}
.contacts p {
	color: #777777;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	margin: 0;
}
.contacts p strong {
	color: #D41547;
	font-weight: 700;
}
.newsletter {
	
}

.newsletter .button{	font-size: 12px !important;
}
/* -----------------------------------------
   social
----------------------------------------- */

.social {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	text-align: center;
	width: 100%;
	margin: 20px 0;
	padding: 20px;
	font-weight: 600;
	text-transform: uppercase;
	;
}
.social a {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	padding: 0 20px;
	color:#D41547;
}
.social i {
	font-size: 30px;
	vertical-align: middle;
}
/* -----------------------------------------
   Footer
----------------------------------------- */

footer {
	text-align: center;
	margin: 30px 0 100px;
	width: 100%;
}



/* -----------------------------------------
   media queries
----------------------------------------- */



@media only screen and (max-width: 767px) {

.menu{ height: 120px}

.logo {  text-align: center;}

#nav {   
	float: left; }
	.feature { min-height: 120px }


.newsletter { margin-top: 40px;}



}


select {   background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 32px;
    margin: 0 0 12px;
    padding: 6px;
    transition: all 0.15s linear 0s;
    width: 100%;}