/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Menu
:: Banner

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700|Open+Sans:400,300,600);

 body { 
	background: url("../images/blur.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

	h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  text-transform: uppercase
}

i { font-style: normal;}



h3 {  color: #fff; }

h3 i { padding-right: 5px; text-align: center }

.saloon h2 { color: #FF6666;  }
.saloon p i { color: #2B80B8;  font-size: 22px;  vertical-align: middle;   text-shadow: 1px 1px 1px #fff;}

.saloon .button { font-size: 20px; background: #FF6666;}
.saloon .button:hover { font-size: 20px; background: #000;  }


hr:before {  color: #FFFFFF;
    padding-bottom: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);}


hr{border-top: 1px solid #DBDBDB;}


div {    
	border: 0px solid #eee; 
}

body > div { padding: 20px 0;}

.salonmaticbar { padding:  10px; background: #333 ;
  border-bottom: 1px solid #fff;
   } 

.salonmaticbar .actions {  text-align: right }

.salonmaticbar .aderir { background: #D41547}

.salonmaticbar .login:hover , .salonmaticbar .aderir:hover{   background:#000; }


.info a.button { padding: 3px 10px !important; background: #FF6666;}

.search {padding-top: 0px}
.search .button { background: #888;}

.search label { padding-right: 10px; font-size: 20px; color: #bbb; text-shadow: 1px 1px 1px #000;}

.profile_badge { max-height: 80px; max-width: 200px}


.infos { background: url("../images/tr.png") repeat transparent;   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02) inset;
    position: relative;
    z-index: 10;


  color: #FFFFFF;
    padding-bottom: 0;
    text-shadow: 0 1px 3px #000;
    text-align: center;


}


#map {height: 250px;
width: 100%;
margin-bottom: 80px;
position: relative;
z-index: 0;
 box-shadow: 0px 0px 3px #000;


}

.info {  line-height: 18px; 
    padding: 25px 0px;
     }

.info p  { margin-bottom: 0px; font-size: 16px;}


.flexslider{ margin: 0 0 25px;}
.flex-viewport  { height: 240px !important;   overflow: hidden;}

.flexslider .slides img {  
  
}

.saloonspot {  }

.saloonspot h3 { margin-top: 0px;}
.scheduleBlock p { margin-bottom: 5px;}
span.scheduleRow { font-weight: 700; font-size: 16px;}



.contact label { font-weight: 700;}