
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700|Open+Sans:400,300,600);

body {
	background: url("../images/blur.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	
	font-family: 'Open Sans', sans-serif;


}
.logo { text-align: center}



fieldset { background: #f9f9f9; padding: 20px;}

fieldset legend {  background: #f9f9f9; color: #2B80B8;  background:#2B80B8 ; width: 100%; color: #fff; font-size: 24px; padding: 10px 20px; border-radius: 3px;font-family: 'Comfortaa', sans-serif; font-weight: 600;  text-transform: uppercase 	} 

input.inline { float: left; margin-right: 5px; }


label { font-size: 16px; color: #474E63; }
.clear {
    line-height: 32px;
    margin: 0 0 12px; display: block; color: #B22222; font-weight: 900
}
select {   background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 32px;
    margin: 0 0 12px;
    padding: 6px;
    transition: all 0.15s linear 0s;
    width: 100%;}

    #addservices, .upload { margin: 20px; background: #474D63;}

    .titles div ,  .titles label { font-size: 18px; font-weight: bold; padding-bottom: 10px ; color: #D41547;}

.createaccount { text-align: center}
    .create  {
    background: none repeat scroll 0 0 #D41547;
    font-size: 30px;
    padding: 15px 30px;
    margin: 20px;font-family: 'Comfortaa', sans-serif; font-weight: 600;  text-transform: uppercase 
}

.photos img { border: 3px solid #fff; border-radius: 3px; box-shadow: 1px 1px 5px #ddd}




/* Small display targeting */
@media only screen and (max-width: 767px) { 


	.titles div, .titles label {
    padding-bottom: 0px;
}

.weekday {  background: #eee; border-bottom: 5px solid #f9f9f9}

.weekday label.right { font-weight: 900; font-size: 18px}

.weekday input.five[type="text"] { width: 40% !important}

 }
